In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from matplotlib import gridspec
from uncertainties import ufloat
from uncertainties.umath import * 
from uncertainties import unumpy as unp

In [21]:
Exp1 = pd.read_excel('../data/Exp1.xlsx')
Exp2 = pd.read_excel('../data/Exp2.xlsx')
Exp3 = pd.read_excel('../data/Exp3.xlsx')
Exp4 = pd.read_excel('../data/Exp4.xlsx')
Bonus = pd.read_excel('../data/Bonus.xlsx')
Back = pd.read_excel('../data/Background.xlsx')
Tech = pd.read_excel('../data/Tech.xlsx')

In [35]:
cExp2=Exp2.drop(["Exp2 Run1", "Exp2 Run2","Exp2 Run3"], axis = 1) 
cBack =Back.drop(["Background 1min", "Background 5min"], axis = 1) 
cTech =Tech.drop(["Time"], axis = 1) 
cExp1=Exp1.drop(["Exp1 Run1", "Exp1 Run2","Exp1 Run3"], axis = 1) 
cExp4=Exp4.drop(["Exp4 Run1", "Exp4 Run2","Exp4 Run3","Exp4 Run4","Exp4 Run5"], axis = 1)

In [49]:
cExp3 = Exp3[Exp3.columns[1:len(Exp3.axes[1]):2]]#YOU COULD DO THAT???
cBonus = Bonus[Bonus.columns[1:len(Bonus.axes[1]):2]]#to get a np matrix just use df.values then each column is a run

In [51]:
cBonus.head()

,Bonus 4.95.1,Bonus 5.30.1,Bonus 7.10.1,Bonus 8.00.1,Bonus 8.90.1,Bonus 15.4.1,Bonus 5.9.1,Bonus 5.1.1
0,8,5,1,1,0,0,2,4
1,4,2,1,3,1,0,6,6
2,10,1,2,1,1,1,3,3
3,6,4,1,2,0,0,4,5
4,5,3,3,2,0,1,3,8

In [48]:
cExp3.head()

,Exp2 Run1.1,Exp2 Run2.1,Exp2 Run3.1,Exp3 Run1.1,Exp3 Run2.1,Exp3 Run3.1,Exp3 Run4.1,Exp3 Run5.1,Exp3 Run6.1,Exp3 Run7.1,...,Exp3 Run11.1,Exp3 Run12.1,Exp3 Run13.1,Exp3 Run14.1,Exp3 Run15.1,Exp3 Run16.1,Exp3 Run17.1,Exp3 Run18.1,Exp3 Run19.1,Exp3 Run20.1
0,30.0,30.0,38.0,1,3.0,5.0,1.0,2.0,3.0,2.0,...,4.0,3.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0
1,37.0,46.0,39.0,1,0.0,1.0,3.0,0.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,4.0
2,46.0,37.0,55.0,1,2.0,3.0,1.0,4.0,3.0,2.0,...,3.0,2.0,2.0,2.0,4.0,4.0,2.0,1.0,3.0,2.0
3,32.0,26.0,48.0,0,1.0,3.0,3.0,2.0,1.0,1.0,...,1.0,2.0,1.0,2.0,2.0,0.0,1.0,0.0,2.0,3.0
4,41.0,41.0,48.0,2,4.0,5.0,4.0,1.0,4.0,2.0,...,4.0,3.0,3.0,0.0,1.0,1.0,4.0,2.0,2.0,2.0